project_id 					= ""
location   					= ""
name_prefix 				= ""
repository					= ""
service_account_build_id	= ""
trigger_branch_name			= ""
github_username				= ""
github_repo_name			= ""
connection_name_gcp_github	= ""